* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange-500: #DF841F;
  --blue-500: #33607F;
  
  --gray-100: #C4C3C1;
  --gray-500: #4B4746;

  --white: #FFFFFF;
}

body {
  font: 400 1rem 'Poppins', sans-serif;
  background-color: var(--gray-500);
}

body, textarea, input, button, select {
  font: 400 1rem 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-modal-content {
  width: 100%;
  max-width: 576px; // se tiver menos de 576px width, modal-content vai ocupar 100% da width
  background: var(--white);
  padding: 2.5rem;
  position: relative;
  border-radius: 0.25rem;
}

.react-modal-close {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 2.4rem;
  top: 2.5rem;
  color: var(--gray-500);
  cursor: pointer;
  
  transition: 0.2;

  &:hover {
    filter: brightness(0.8);
  }
}